* {
  margin: 0;
  padding: 0;
}

#myNavbar{
  background-color: rgb(64, 167, 94);
  
  a{
    text-decoration: none;
    color: white;
    
  }
}

#dropdownList{
  &:hover{
    a{
      text-decoration: none;
      color: black;
    }
  } ;
}

.carousel-inner img {
  width: 100%;
  max-height: 460px;
}

.carousel-inner{
height: 100%;
}

//Inicio Hamburger Icon
.menu-container{
  display: flex;
  justify-content: center;
  padding: 0 15px;
  align-items: center;
  background: #225c59;
  height: 120px;
  background-size: 100%;
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/589/630/original/green-background-with-fading-square-and-dots-free-vector.jpg");
}

.menu-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(10, 10, 10);
  }
}


//Final Hamburger Icon

//inicio de header
.main-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 240px;
  background-image: url("https://live.staticflickr.com/4245/35423497105_c40c835482_b.jpg");
  background-position-x: center;
  background-position-y: center;
  background-size: 100%;
  border-top: 3px solid rgb(19, 16, 16);
  border-bottom: 3px solid rgb(24, 17, 17);

  .header-text {
    padding: 20px 0 0 50px;

    .header-page-title {
      width: 600px;
      height: 70px;
      font-size: 32px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgb(11, 241, 115);
      border: 1px solid rgb(10, 252, 10);
      border-radius: 10px;
      box-shadow: 2px 2px 11px -1px rgb(35, 212, 12);
      color: black;
      margin-bottom: 20px;
      &:hover {
        transform: scale(0.97);
      }
      

    }
    .header-page-description {
      width: 550px;
      height: 50px;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgb(11, 241, 115);
      border: 1px solid rgb(10, 252, 10);
      border-radius: 10px;
      box-shadow: 2px 2px 11px -1px rgb(35, 212, 12);
      color: black;
      &:hover {
        transform: scale(0.97);
      }
    }
  }
}
//final de header

//Inicio de Accordion
.main-accordion-container {
  .accordion-item {
    background: #1f4d4d;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    flex-direction: column;
    padding: 0 10px 0 10px;

    .accordion-desc {
      display: none;
      background: rgb(14, 160, 70);
      padding: 15px;
      margin-top: 15px;
      width: 90%;
      font-size: 25px;
      text-align: justify;
    }
    .accordion-title {
      color: white;
      font-family: Arial;
      font-size: 20px;
      width: 90%;
      display: flex;
      justify-content: center;
      padding: 20px;
      text-decoration: blanchedalmond;
    }
    &.tab-active {
      .accordion-desc{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
      }
    }
    
  }
}
//Final de Accordion

//inicio de wraps
main {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: solid 2px black;
  background-color: rgb(45, 133, 45);

  .container-1 {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    .container-1-img {
      img {
        width: 80%;
        margin: auto;
        display: block;
        padding: 10px 0px 20px 0px;
        &:hover {
          transform: skewY(1deg);
        }
      }
    }
    .container-1-text {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
      h1 {
        text-align: center;
      }
      h2 {
        text-align: center;
      }
      p {
        text-align: justify;
        padding: 10px 0px 10px 0px;
      }
    }
    .container-1-video-1 {
      padding: 10px 0px 20px 0px;
    }
  }
}
//final wrap

//Inicio Cards
.card-list {

  //background-image: url("images/thumb-1920-387503.jpg");
  background-image: url("images/14201.jpg");
  //background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;




   //background: rgb(80, 153, 149);
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   padding-top: 20px;


  .card-item {
    width: 27%;
    height: 425px;
    border-radius: 10px;
    padding-bottom: 30px;
    box-shadow: 2px 2px 11px -1px black;
    margin-bottom: 30px;
    //display: flex;
    //flex-direction: column;
    overflow: hidden;
    //background: rgb(23, 104, 57);
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png);

    &:hover{
      transform: translateY(10px);
    }

    img {
      width: 100%;
      margin-bottom: 10px;
      //height: auto;
      max-height: 300px;
      min-height: 250px;
      //display: flex;
    }

    .card-info {
      padding: 0 10px;
      display: flexbox;
      flex-direction: column;
      flex: 1 0;
      justify-content: space-around;
      a {
        color: rgb(9, 10, 10);
      }

      .card-title {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Helvetica';
        margin-bottom: 10px;
      }

      .card-desc {
        font-family: 'Helvetica';
        font-size: 16px;
      }

      .card-cta {
        text-decoration: none;
        display: block;
        text-align: right;
        font-family: 'Helvetica';
        font-size: 20px;
        border-top: solid 1px black;
        padding-top: 10px;
        margin-top: 10px;
      }
    }
  }
}
//final Cards

//inicio de footer
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: black;
  height: 120px;
  color: white;

  .footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    p {
      text-decoration: none;
      font-size: 20px;
    }
  }

  .footer-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
    p {
      text-decoration: none;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
    }
  }
}

//final de Footer

@media (max-width: 991px){


  //Inicio de hamburger icon
  .menu-container{
    justify-content: center;
    position: relative;

    .hamburger-icon{
      width: 35px;
      height: 25px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      span{
        height: 4px;
        width: 100%;
        background: rgb(10, 12, 12);
        display: block;
        border-radius: 2px;
      }
    }

    .menu-list{
      display: none;
    }
  }

  .menu-container.menu-open{
    .menu-list{
      z-index: 100;
      border: 2px solid black;
      width: 200px;
      padding-top: 10px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: left;
      text-align: center;
      background-color: #09a155;
      border-radius: 50px;
      a{
        padding-top: 20px;
        padding-bottom: 15px;
      }
    }
  }



  .sub-menu-container{
    justify-content: flex-start;
    position: relative;

    .sub-hamburger-icon{
      width: 35px;
      height: 25px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      span{
        height: 4px;
        width: 100%;
        background: white;
        display: block;
        border-radius: 2px;
      }
    }

    .sub-menu-list{
      display: none;
    }
  }

  .menu-container.sub-menu-open{
    .sub-menu-list{
      z-index: 100;
      border: 1px solid black;
      width: 200px;
      padding-top: 120px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: left;
      text-align: center;
      background-color: #3e9e86;
      border-radius: 5px;
      a{
        padding-top: 10px;
        padding-bottom: 15px;
      }
    }
  }
  //Final Hambueger Icon

  //inicio de header
.main-header {
  height: 175px;

  .header-text {
    padding: 15px 0 0 15px;
    .header-page-title {
      width: 480px;
      height: 50px;
      font-size: 25px;
    }
    .header-page-description {
      width: 460px;
      height: 40px;
      font-size: 18px;
    }
  }
}
//final de header

  //Inicion de Accordion
  .main-accordion-container {
    .accordion-item {
      background: #1a9616;
      border: 1px solid black;
  
      .accordion-desc {
        background: rgb(13, 109, 88);
        font-size: 20px;
        width: 100%;
      }
      .accordion-title {
        color: rgb(252, 249, 249);
        width: 95%;
        padding: 15px 0px 15px 0px;
      }
    }
  }

  //Final de Accordion

//inicio de wraps
main {
  .container-1 {
    .container-1-img {
      img {
        width: 90%;
      }
    }
    .container-1-text {
      width: 95%;
    }
  }
}
//final wrap


  //Inicio Cards
.card-list {
  background-image: url("images/14201.jpg");

  .card-item {
    width: 45%;
    padding-bottom: 20px;
    box-shadow: 2px 2px 11px -1px rgb(255, 253, 253);
    margin-bottom: 20px;
    background-image: url(https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Geometric-Simple-Background-Image.jpg);
    border: solid 3px rgb(247, 242, 242);

    img {
      min-height: 200px;
    }
  }
}
//final Cards

//inicio de footer
.footer-container {
  .footer-list {
    p {
      font-size: 15px;
    }
  }

  .footer-info {
    p {
      font-size: 15px;
    }
  }
}

//final de footer
}

@media (max-width: 700px) {

  //inicio de header
.main-header {
  height: 175px;

  .header-text {
    padding: 15px 0 0 15px;
    .header-page-title {
      width: 480px;
      height: 50px;
      font-size: 25px;
    }
    .header-page-description {
      width: 460px;
      height: 40px;
      font-size: 18px;
    }
  }
}
//final de header

  main {
    flex-direction: column;
  }

  .card-list {
    .card-item {
      img {
        margin-bottom: 5px;
        max-height: 200px;
        min-height: 150px;
      }
      .card-info {
        .card-title {
          font-size: 15px;
        }
        .card-desc {
          font-size: 14px;
        }
        .card-cta {
          font-size: 20px;
        }
      }
    }
  }

  //inicio de footer
.footer-container {
  height: 280px;
  .footer-list {
    flex-direction: column;
    align-items: center;
    p {
      font-size: 20px;
    }
  }

  .footer-info {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    p {
      font-size: 16px;
    }
  }
}

//final de footer
}



@media (max-width: 500px) {
  //inicio de header
.main-header {
  height: 175px;
  background-size: unset;
  align-items: center;
  justify-content: center;
  .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    .header-page-title {
      width: 300px;
      height: 50px;
      font-size: 15px;
      margin-bottom: 10px;
    }
    .header-page-description {
      width: 280px;
      height: 35px;
      font-size: 11px;
    }
  }
}
//final de header

  .card-list {
    //background: rgb(23, 63, 56);
  .card-item {
    width: 90%;
    img {
      max-height: 270px;
      min-height: 200px;
      //esto se Guardo exelente mente
    }
  }
}
}
